*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  header {
    background: rgb(32, 35, 42);
    text-align: center;
    color: white;
    padding: 2rem 0;
  }
  p {
    text-align: center;
    padding: 2rem 0;
  }
  .logo {
    animation: spin 10s linear infinite;
    height: 6rem;
  }
}